.container {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  & .form {
    width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1.5rem;

    & label {
      display: flex;
      flex-direction: column;
      gap: 4px;

      & span {
        font-weight: 700;
      }

      & .input {
        width: 100%;
        background-color: #f3f3f4;
        border: none;
        padding: 8px 17px;
        border-radius: 10px;
        outline: none;
        font-size: 14pt;
        transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
      }

      .input:hover {
        background-color: white;
        border: solid 1px #f3f3f4;
        box-shadow: 0 0 4px #1466c3;
      }

      .input:focus {
        background-color: white;
        border: solid 1px #f3f3f4;
        box-shadow: 0 0 4px #1466c3;
      }
    }
    & .paragraph-terms{
      text-align: justify;
      & a{
        color:#000;
        font-weight: 500;
        text-decoration: none;
      }
    }
    & .checkbox-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: justify;

      & .span{
        font-weight: 400;
      }

      & input[type="checkbox"] {
        width: 8%;
        height: 8%;
      }


    }

    & .submit-btn {
      background-color: #1466c3;
      color: white;
      font-weight: 500;
      text-align: center;
      padding: 8px;
      border: none;
      border-radius: 10px;
      font-size: 14pt;
      cursor: pointer;
    }

    .submit-btn:hover {
      opacity: 0.75;
    }

  }
}






/* .section {
  margin-top: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 10;

  & .section-contact {
    width: 80%;
    padding: 2rem 5rem;
    overflow: hidden;
    border-radius: 1rem;
    background-image: radial-gradient(circle at 80% 36%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 22% 10%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 17% 26%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 82% 24%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 55% 69%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 56% 67%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 90% 17%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 73% 24%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 80% 31%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 18% 25%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 36% 40%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 33% 21%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 34% 77%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 65% 41%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 29% 89%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 63% 6%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 54% 74%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 40% 31%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), linear-gradient(45deg, rgb(20, 102, 195), rgb(19, 30, 181));

    & .contain-contact {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      & .contact-text {
        color: white;
        flex: 1;
      }

      & .contact-form {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & form {
          display: flex;
          flex-direction: column;

          & label {
            color: white;
          }

          & #email {
            display: inline-block;
            padding: 0.25rem 0.7rem;
            width: 15.625rem;
            border: 0.063rem solid #0000;
            border-radius: 0.25rem;
            background-color: #fff;
            outline: 0;
            color: rgb(8, 7, 7);
            transition: border .1s linear, background-color .1s linear;
          }

          & #email:focus {
            border-color: #fff;
            box-shadow: #fff 0 0 0.188rem 0;
          }
        }
      }
    }
  }
} */