.item-detail{
  display: flex;
  flex-direction: column;
  background-color: #e3ecf1;
  width: 220px;
  border-radius: 1rem;
  overflow: hidden;
  & .item-img{
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/images/cloud-services.png);
  }
  & .item-description{
    height: 110px;
    padding:0.5rem;
    line-height: 1rem;
    display:grid;
    text-align: center;
    place-items: center;
    & .item-title{
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      margin: 0;
      color: #1466c3
    }
    & .item-specification{
      margin:0;
      font-size:0.9rem;
    }
    & .item-price{
      font-size: 0.9rem;
    }
    
  }
}