.navbar {
  height: 4rem;
  z-index: 3;
  display: flex;
  top: 0;
  width: 100%;
  padding: 0.3rem 2rem !important;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  overflow-y: inherit;

  & .logo-nav {
    width: 11%;

    & .navbar-brand {
      padding: 0;
      margin: 0;

      & .img-logo {
        width: 100%;
      }
    }

  }

  & .navbar-toggler:focus {
    box-shadow: none !important;
  }

  & .nav-link {
    color: #000;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: all 0.5s;

  }
  .nav-link:hover, .nav-link:active, .nav-link:focus {
    color:rgba(0, 0, 0, 0.6)  !important;
  }


  & .dropdown-menu {
    left: auto !important;
    margin-top: 0 !important;
    background: rgba(255, 255, 255, 0.9) !important;
  }

}

@media (width < 768px) {
  .navbar {
    padding: 0.5rem 1rem !important;
    height: auto !important;

    & .logo-nav {
      width: 16%;

    }
  }
}
