.service {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0.125rem 0.25rem 0.75rem rgba(0, 0, 0, .08);
  transition: all .3s cubic-bezier(0, 0, .5, 1);
  text-decoration: none;
}

.title-service {
  z-index: 1;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  padding: 0rem 0.1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: none !important;
}

.link-service {
  z-index: 1;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
}

.link-service span {
  color: #1466c3;
  font-weight: bolder;
}



.service::before {
  content: "";
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 37%, rgba(0, 0, 0, 0.8) 100%);
}

.service:hover,
.service:focus,
.service:active {
  box-shadow: 0.125rem 0.25rem 1rem rgba(0, 0, 0, .16);
  transform: scale3d(1.01, 1.01, 1.01);
}

@media(max-width: 768px) {
  .service {
    padding: 0 .4rem 0.5rem .4rem;
  }

  .title-service {
    font-size: 1.5rem;
    font-weight: 700;
  }
    .link-service {
      font-size: 0.9rem;
    }
}